<!DOCTYPE html>
<html>

<head></head>

<body>
	<form action="/candles" method="POST">Enter the number of candles:
		<input type="text" name="message">
		<input type="submit" value="Send">
	</form>
</body>

</html>